<a href="https://colab.research.google.com/github/MSaifProgrammer/uni_task/blob/main/bigDataTaskRevised.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **List of fruits**

In [ ]:
fruits_list = ["apple", "banana", "cherry", "date", "elderberry", "fig", "grape", "honeydew", "kiwi", "lemon", "mango", "nectarine", "orange", "papaya", "quince"]

# **New List and also using Random Module**

In [ ]:
import random

fruits = []

for x in range(45):
  fruits.append(random.choice(fruits_list))

print(fruits)

['nectarine', 'banana', 'grape', 'date', 'fig', 'papaya', 'lemon', 'date', 'date', 'banana', 'apple', 'apple', 'honeydew', 'lemon', 'papaya', 'fig', 'orange', 'grape', 'elderberry', 'nectarine', 'banana', 'papaya', 'banana', 'mango', 'date', 'orange', 'grape', 'papaya', 'grape', 'kiwi', 'quince', 'papaya', 'fig', 'orange', 'mango', 'nectarine', 'orange', 'quince', 'fig', 'elderberry', 'orange', 'honeydew', 'apple', 'apple', 'fig']

# **Included Sales Data**

In [ ]:
import random

fruit_sales = []

for fruit in fruits:
  fruit_sales.append([fruit, random.randint(1000, 5000)])

print(fruit_sales)

[['nectarine', 1845], ['banana', 4725], ['grape', 1818], ['date', 2452], ['fig', 4540], ['papaya', 2525], ['lemon', 4219], ['date', 3878], ['date', 1965], ['banana', 3382], ['apple', 3167], ['apple', 3023], ['honeydew', 3516], ['lemon', 2777], ['papaya', 1017], ['fig', 3903], ['orange', 3004], ['grape', 3616], ['elderberry', 4564], ['nectarine', 2605], ['banana', 2602], ['papaya', 2269], ['banana', 4235], ['mango', 2985], ['date', 4063], ['orange', 3014], ['grape', 3682], ['papaya', 4795], ['grape', 1312], ['kiwi', 2713], ['quince', 2307], ['papaya', 2561], ['fig', 4445], ['orange', 1119], ['mango', 2123], ['nectarine', 2753], ['orange', 3792], ['quince', 1916], ['fig', 2888], ['elderberry', 2567], ['orange', 2349], ['honeydew', 1092], ['apple', 3723], ['apple', 3180], ['fig', 1286]]

# **Aggregating Sales**

In [ ]:
aggregated_sales = []

for fruit, sales in fruit_sales:
  found = False
  for i in range(len(aggregated_sales)):
    if aggregated_sales[i][0] == fruit:
      aggregated_sales[i][1] += sales
      found = True
      break
  if not found:
    aggregated_sales.append([fruit, sales])

aggregated_sales

[['nectarine', 7203],
 ['banana', 14944],
 ['grape', 10428],
 ['date', 12358],
 ['fig', 17062],
 ['papaya', 13167],
 ['lemon', 6996],
 ['apple', 13093],
 ['honeydew', 4608],
 ['orange', 13278],
 ['elderberry', 7131],
 ['mango', 5108],
 ['kiwi', 2713],
 ['quince', 4223]]

# **Sorting Sales Value in Descending**

In [ ]:
aggregated_sales.sort(key=lambda x: x[1], reverse=True)

aggregated_sales

[['fig', 17062],
 ['banana', 14944],
 ['orange', 13278],
 ['papaya', 13167],
 ['apple', 13093],
 ['date', 12358],
 ['grape', 10428],
 ['nectarine', 7203],
 ['elderberry', 7131],
 ['lemon', 6996],
 ['mango', 5108],
 ['honeydew', 4608],
 ['quince', 4223],
 ['kiwi', 2713]]